<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DiaryApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DiaryApp.Properties.Settings>
            <setting name="LastImage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="User1Name" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="User1Pass" serializeAs="String">
                <value>12345</value>
            </setting>
            <setting name="User2Name" serializeAs="String">
                <value>Admin2</value>
            </setting>
            <setting name="User2Pass" serializeAs="String">
                <value />
            </setting>
            <setting name="User3Name" serializeAs="String">
                <value>Admin3</value>
            </setting>
            <setting name="User3Pass" serializeAs="String">
                <value />
            </setting>
        </DiaryApp.Properties.Settings>
    </userSettings>
</configuration>